@model AccountingSystem.Models.CheckDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Деталі</h1>

<div class="details_div">
    <h4>Чек №@Html.DisplayFor(model => model.Check.Id)</h4>
    <hr />
    <dl class="check-details">
        
        <dt class="check-details-label">
            Дата
        </dt>
        <dd class="check-details-value">
            @Html.DisplayFor(model => model.Check.Date)
        </dd>
        <dt class="check-details-label">
            Загальна сума
        </dt>
        <dd class="check-details-value">
            @Html.DisplayFor(model => model.Check.Sum)
        </dd>
        <dt class="check-details-label">
            Виручка
        </dt>
        <dd class="check-details-value">
            @Html.DisplayFor(model => model.Check.Profit)
        </dd>
    </dl>

    <h4>Items</h4>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Items[0].Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Items[0].Price)
                </th>
                <th>
                    Quantity
                </th>
                <th>
                    Total
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                var orderItem = Model.Check.Items.FirstOrDefault(i => i.Id == item.Id);
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Price
                    </td>
                    <td>
                        @orderItem.Quantity
                    </td>
                    <td>
                        @(Math.Round(orderItem.Quantity * item.Price, 2))
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>