@model IEnumerable<AccountingSystem.Models.Check>


@{
    ViewData["Title"] = "Продажі";
}




<h1>Продажі</h1>
<a asp-action="Create">
    <button class="plus_item_btn">
        <img src="~/images/plus-icon.png" width="32px" height="32px" />Додати продаж
    </button>
</a>
<br />






<input type="text" id="myInput" onkeyup="myFunction()" onchange="myFunction()" placeholder="Пошук">

<hr />
<div class="total_container">


    <div class="total_item">
        <p class="total_item_heading">Загалом продажів</p>
        <p class="total_item_count">
            @{
                int item_count = 0;
                @foreach (var item in Model)
                {
                    item_count++;
                }
            }
            @item_count
        </p>
    </div>

    <div class="total_item">
        <p class="total_item_heading">Продано на</p>
        <p class="total_item_count">

            @{
                double item_sum = 0;
                @foreach (var item in Model)
                {
                    item_sum += Math.Round(item.Sum);
                }

            }
            @item_sum

        </p>
    </div>


    <div class="total_item">
        <p class="total_item_heading">Виручка</p>
        <p class="total_item_count">


            @{
            double total_profit = 0;
            foreach (var item in Model)
            {
                total_profit += Math.Round(item.Profit);
            }
            }
            @total_profit

        </p>
    </div>



</div>
<table class="table" id="MyTable">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Id)</th>
            <th onclick="sortTable(1)">@Html.DisplayNameFor(model => model.Date)<img src="~/images/sorting.png" height="16px" width="16px" /></th>
            <th onclick="sortTable(2)">@Html.DisplayNameFor(model => model.Sum)<img src="~/images/sorting.png" height="16px" width="16px" /></th>
            <th onclick="sortTable(3)">@Html.DisplayNameFor(model => model.Profit)<img src="~/images/sorting.png" height="16px" width="16px" /></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href="#" class="details-link" data-id="@item.Id">@Html.DisplayFor(modelItem => item.Id)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)                     
                    @Html.ActionLink("Деталі", "Details", new { id = item.Id })
                </td>
                <td>@Html.DisplayFor(modelItem => item.Sum)</td>
                <td>@Html.DisplayFor(modelItem => item.Profit)</td>
                <td>
                    <a href="@Url.Action("Видалити", "Delete")" class="links">
                        <img alt="Widget View" src="@Url.Content("~/images/close.png")" width="16px" height="16px">
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>


