@model IEnumerable<AccountingSystem.Models.Supplier>
@{
    ViewData["Title"] = "Постачальники";
}

<script>
    function sortTable(n) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("MyTable");
        switching = true;
        dir = "asc";
        while (switching) {
            switching = false;
            rows = table.rows;
            for (i = 1; i < (rows.length - 1); i++) {
                shouldSwitch = false;
                x = rows[i].getElementsByTagName("TD")[n];
                y = rows[i + 1].getElementsByTagName("TD")[n];

                let xContent = x.innerHTML.toLowerCase();
                let yContent = y.innerHTML.toLowerCase();

                if (dir == "asc") {
                    if (!isNaN(parseFloat(xContent)) && !isNaN(parseFloat(yContent))) {
                        if (parseFloat(xContent) > parseFloat(yContent)) {
                            shouldSwitch = true;
                            break;
                        }
                    } else {
                        if (xContent > yContent) {
                            shouldSwitch = true;
                            break;
                        }
                    }
                } else if (dir == "desc") {
                    if (!isNaN(parseFloat(xContent)) && !isNaN(parseFloat(yContent))) {
                        if (parseFloat(xContent) < parseFloat(yContent)) {
                            shouldSwitch = true;
                            break;
                        }
                    } else {
                        if (xContent < yContent) {
                            shouldSwitch = true;
                            break;
                        }
                    }
                }
            }
            if (shouldSwitch) {
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                switchcount++;
            } else {
                if (switchcount == 0 && dir == "asc") {
                    dir = "desc";
                    switching = true;
                }
            }
        }
    }
</script>
<h1>Постачальники</h1>
<a asp-action="Create">
    <button class="plus_item_btn">
        <img src="~/images/plus-icon.png" width="32px" height="32px" />Додати постачальника
    </button>
</a>
<br />
<hr />
<br />
<table class="table" id="MyTable">
    <thead>
        <tr>
            <th onclick="sortTable(1)">Назва<img src="~/images/sorting.png" height="16px" width="16px" /></th>
            <th onclick="sortTable(2)">Адреса<img src="~/images/sorting.png" height="16px" width="16px" /></th>
            <th onclick="sortTable(3)">Номер телефону<img src="~/images/sorting.png" height="16px" width="16px" /></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>@Html.DisplayFor(modelItem => item.Address)</td>
                <td>@Html.DisplayFor(modelItem => item.ContactNumber)</td>
                <td>
                    <a href="@Url.Action("Delete", "Supplier", new { id = item.Id })" class="links">
                        <img src="@Url.Content("~/images/close.png")" width="32px" height="32px" alt="Delete">
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>


