@model IEnumerable<AccountingSystem.Models.SupplyViewModel>

@{
    ViewData["Title"] = "Supply Index";
}

<h1>Поставки товарів</h1>

<div>

    <a asp-action="Create">
        <button class="plus_item_btn">
            <img src="~/images/plus-icon.png" width="32px" height="32px" />Створити поставку
        </button>
    </a>
</div>



<table class="table">
    <thead>
        <tr>
            <th>Постачальник</th>
            <th>Дата постачання</th>
            <th>Товари</th>
            <th>Загальна сума</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var supply in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(Html.DisplayTextFor(modelItem => supply.SupplierName).ToString(), "Edit", new { id = supply.Id })
                </td>
                <td>@supply.SupplyDate.ToString("yyyy-MM-dd")</td>
                <td>
                    <ul>
                        @foreach (var item in supply.Items)
                        {
                            <li>@item.ItemName - @item.Quantity х @item.PurchasePrice грн = @item.TotalPrice грн</li>
                        }
                    </ul>
                </td>
                <td>@supply.TotalAmount</td>
  
            </tr>
        }
    </tbody>
</table>


