@model IEnumerable<AccountingSystem.Models.SupplyViewModel>
@{
    ViewData["Title"] = "Supply Index";
}
<script>
    function sortTable(n) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("MyTable");
        switching = true;
        dir = "asc";

        while (switching) {
            switching = false;
            rows = table.rows;
            for (i = 1; i < (rows.length - 1); i++) {
                shouldSwitch = false;
                x = rows[i].getElementsByTagName("TD")[n];
                y = rows[i + 1].getElementsByTagName("TD")[n];

                let xContent = x.innerHTML.toLowerCase();
                let yContent = y.innerHTML.toLowerCase();

                if (isValidDate(xContent) && isValidDate(yContent)) {
                    xContent = new Date(xContent);
                    yContent = new Date(yContent);
                } else if (!isNaN(parseFloat(xContent)) && !isNaN(parseFloat(yContent))) {
                    xContent = parseFloat(xContent);
                    yContent = parseFloat(yContent);
                }

                if (dir == "asc") {
                    if (xContent > yContent) {
                        shouldSwitch = true;
                        break;
                    }
                } else if (dir == "desc") {
                    if (xContent < yContent) {
                        shouldSwitch = true;
                        break;
                    }
                }
            }
            if (shouldSwitch) {
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                switchcount++;
            } else {
                if (switchcount == 0 && dir == "asc") {
                    dir = "desc";
                    switching = true;
                }
            }
        }
    }

    function isValidDate(dateString) {
        var date = Date.parse(dateString);
        return !isNaN(date);
    }
</script>

<h1>Поставки товарів</h1>

<div>

    <a asp-action="Create">
        <button class="plus_item_btn">
            <img src="~/images/plus-icon.png" width="32px" height="32px" />Створити поставку
        </button>
    </a>
</div>

<table class="table" id="MyTable">
    <thead>
        <tr>
            <th onclick="sortTable(0)">Постачальник</th>
            <th onclick="sortTable(1)">Дата постачання</th>
            <th>Товари</th>
            <th onclick="sortTable(3)">Загальна сума</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var supply in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(Html.DisplayTextFor(modelItem => supply.SupplierName).ToString(), "Edit", new { id = supply.Id })
                </td>
                <td>@supply.SupplyDate.ToString("yyyy-MM-dd")</td>
                <td>
                    <ul>
                        @foreach (var item in supply.Items)
                        {
                            <li>@item.ItemName - @item.Quantity х @item.PurchasePrice грн = @item.TotalPrice грн</li>
                        }
                    </ul>
                </td>
                <td>@supply.TotalAmount</td>
                <td>
                    <a href="@Url.Action("Delete", "Supply", new { id = supply.Id })" class="links">
                        <img src="@Url.Content("~/images/close.png")" width="32px" height="32px" alt="Delete">
                    </a>
                </td>
  
            </tr>
        }
    </tbody>
</table>


