@model dynamic
@{
    ViewData["Title"] = "Create";
}

<h1>Створення товару</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="Create" class="form_row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label> Назва товару</label>
                <input name="Items.Name" value="@Model.Items.Name" class="form-control" />
                <span class="text-danger"></span>
            </div>

            <div class="input_group">
                <div class="form-group">
                    <label>Категорія</label>
                    <input name="Items.Category" value="@Model.Items.Category" class="form-control" />
                    <span class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Одиниці виміру</label>
                    <select name="Items.Unit" class="form-control">
                        <option value="Шт">Шт</option>
                        <option value="Кг">Кг</option>
                        <option value="Л">Л</option>
                    </select>
                    <span class="text-danger"></span>
                </div>
            </div>

            <div class="input_group">
                <div class="form-group">
                    <label>Залишок на складі</label>
                    <input name="Items.Available" type="number" value="@Model.Items.Available" class="form-control" />
                    <span class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label>Штрих-код</label>
                    <input name="Items.Barcode" value="@Model.Items.Barcode" class="form-control" />
                    <span class="text-danger"></span>
                </div>
            </div>

            <div class="input_group">
                <div class="form-group">
                    <label> Ціна закупівлі</label>
                    <input name="Items.PurchPrice" type="number" value="@Model.Items.PurchPrice" class="form-control" />
                    <span class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label> Ціна продажу</label>
                    <input name="Items.Price" type="number" value="@Model.Items.Price" class="form-control" />
                    <span class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label> Постачальник</label>
                <select name="Items.SupplierId" class="form-control">
                    <option value="">Виберіть постачальника</option>
                    @foreach (var supplier in Model.Supplier)
                    {
                        <option value="@supplier.Id">@supplier.Name @supplier.ContactNumber</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <label>Фото</label>
                <input name="Items.ImageUrl" value="@Model.Items.ImageUrl" class="form-control" />
                <span class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
