@model AccountingSystem.Models.Item

@{
    ViewData["Title"] = "Delete";
}

<h1 class="page-title">Видалення продукту</h1>

<h3 class="confirmation-text">Ви впевнені, що хочете видалити цей товар?</h3>
<div class="delete-container">
    <hr />
    <dl class="row delete-details">

        <dd class="col-sm-10 delete-value">
            <img src="@Url.Content(Model.ImageUrl)" alt="Image" class="delete-image" />
        </dd>
        <dt class="col-sm-2 delete-label">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10 delete-value">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2 delete-label">
            Категорія        
        </dt>
        <dd class="col-sm-10 delete-value">
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt class="col-sm-2 delete-label">
            @Html.DisplayNameFor(model => model.Available)
        </dt>
        <dd class="col-sm-10 delete-value">
            @Html.DisplayFor(model => model.Available)
        </dd>
        <dt class="col-sm-2 delete-label">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10 delete-value">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>

    <form asp-action="Delete" class="delete-form">
        <input type="submit" value="Видалити" class="btn btn-danger delete-button" /> |
        <a asp-action="Index" class="btn btn-secondary return-button">Повернутись</a>
    </form>
</div>
